# -----------------
# Python ignore
# -----------------
*.pyc
.venv

# -----------------
# PyCharm Ignore
# -----------------
.idea/items.iml
.idea/inspectionProfiles/

# -----------------
# Mac OS ignore
# -----------------
.DS_Store

# -----------------
# PyCharm ignore
# -----------------
 */.idea/workspace.xml
 */.idea/tasks.xml

 # -----------------
# Coverage ignore
# -----------------
.coverage
