# -----------------
# Python ignore
# -----------------
*.pyc

# -----------------
# Mac OS ignore
# -----------------
.DS_Store

# -----------------
# PyCharm ignore
# -----------------
 */.idea/workspace.xml
 */.idea/tasks.xml