/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #eaf1f7;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #d2e1ed;
    height: 100vh; /* Ensures sidebar takes full viewport height */
    min-height: 100vh;
    padding: 20px;
    position: fixed;
    top: 102px; /* Adjust this value to match the height of your top navbars */
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
    z-index: 1000; /* Ensures sidebar is layered correctly */
}

/* Main Content */
.content {
    margin-left: 250px;
    padding: 5px;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
}

/* Nav Tabs */
.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden; /* Hide the scroll bar */
    white-space: nowrap;
    border-bottom: 2px solid #dee2e6;
}

.nav-tabs .nav-item {
    flex: 1;
    text-align: center;
}

/* Remove background color from active tab */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent !important; /* Remove white background */
    font-weight: bold; /* Make text bold */
    border-color: transparent; /* Remove border if needed */
}

.settings-container {
    border: 0.5px solid black;
    padding: 15px;
    /* background-color: white; */
    border-radius: 4px; /* Optional: adds rounded corners */
}

/* Responsive Sidebar */
@media (max-width: 1024px) {
    .sidebar {
        width: 200px; /* Smaller width on mid-sized screens */
    }
    .content {
        margin-left: 200px; /* Adjust content space */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 150px; /* Even smaller on tablets and smaller screens */
        padding: 10px 5px; /* Reduce padding on smaller screens */

    }
    .content {
        margin-left: 150px; /* Adjust content space */
    }

    .sidebar h4 {
font-size: 1rem; /* Make title smaller */
margin-left: 0; /* Remove any extra margin on the left */
}

.sidebar .nav-link {
font-size: 0.8rem; /* Smaller text for the links */
padding-left: 5px; /* Reduces left padding */
padding-right: 5px; /* Reduces right padding */
text-align: left; /* Align text to the left */
}
}

@media (max-width: 576px) {
    .sidebar {
        width: 100px; /* Full width on very small screens */
        font-size: 1rem; /* Adjust this value as necessary */
    }
    .content {
        margin-left: 100px;
        padding: 10px;
        width: 100%;
    }
}

/* Adjust the 'Manage Settings' heading font size for smaller screens */
@media (max-width: 768px) {
    .sidebar h4 {
        font-size: 1.2rem;
    }
}
