



    <!-- Tab Navigation -->
    <ul class="nav project-create-tab" id="myTabs">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#overview">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#access">Access</a>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-4">
      <div class="tab-pane fade show active" id="overview">
        <h3>Access Overview</h3>
        <p>Welcome to the project overview section. Here you'll find general information about the project.</p>
      </div>
      <div class="tab-pane fade" id="access">
        <h3>Project Details</h3>
        <p>Detailed information about the project goes here.</p>
      </div>
