{% extends "instance_admin_template.html" %}
{% block title %}ITEMS | Add New Project{% endblock %}
{% block head %}{{ super() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/instance_admin_add_project.css') }}">
{% endblock %}

{% block body_params %}id="body-pd"{% endblock %}
{% block instance_admin_body %}
        <form id="editProjectForm" action="/admin/add_project" method="post">

          <!-- Tab Navigation -->
          <ul class="nav project-create-tab" id="addProjectTabs">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#overview">Overview</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#access">Access</a>
            </li>
            -->
          </ul>

          <div class="tab-content">
            <!-- Project Tab -->
            <div class="tab-pane active" id="project">
              <label for="projectName">Name *</label>
              <input type="text" class="form-control" id="projectName" name="project_name"
                required pattern="\S.*" value="{{ form_data.get('project_name', '') }}"
                title="Project name cannot be empty or contain only spaces.">

              <div class="form-group">
                <label for="announcement">Announcement</label>
                <textarea class="form-control" id="announcement" name="announcement">{{ form_data.get('announcement', '') }}
                </textarea>
              </div>

              <label>
                  <input type="checkbox" id="show_announcement" name="show_announcement"
                    {% if form_data.get('show_announcement') == 'on' %} checked {% endif %}>
                    Show the announcement on the overview page
              </label>
            </div>

            <!-- Access Tab -->
            <div class="tab-pane" id="access">
              <label><input type="checkbox" name="admin_access"> Admin Access</label>
              <label><input type="checkbox" name="read_only_access"> Read-only Access</label>
            </div>

          </div>

          {% if error_msg_str %}<div class="jumbotron text-black" id="error_msg">
            {{ error_msg_str }}
          </div>{% endif %}
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Project</button>
             <button type="button"
                     class="btn btn-outline-danger cancelButton"
                     onclick="window.location.href='/admin/projects'">
               <i class="bi bi-x-lg cancel-icon"></i> Cancel
             </button>
          </div>
        </form>

{% endblock %}

{% block postBody %}{{ super() }}
{% endblock %}
