name: Validate Branch (lint & unittests)

on:
  pull_request:

jobs:
  setup:
    runs-on: ubuntu-24.04
    steps:
      # Step 1: Checkout code with full history
      - name: Checkout code with full history
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'  # Adjust to your Python version

  detect-changes:
    runs-on: ubuntu-latest
    needs: setup  # Wait for the setup job to complete
    outputs:
      accounts_svc_changed: ${{ steps.detect.outputs.accounts_svc_changed }}
      cms_svc_changed: ${{ steps.detect.outputs.cms_svc_changed }}
      gateway_svc_changed: ${{ steps.detect.outputs.gateway_svc_changed }}
      web_portal_svc_changed: ${{ steps.detect.outputs.web_portal_svc_changed }}
      shared_changed: ${{ steps.detect.outputs.shared_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # Checkout the head commit of the PR

      - name: Fetch base branch
        run: |
          git fetch origin ${{ github.event.pull_request.base.ref }}  # Fetch the base branch

      - name: Detect changes in directories
        id: detect
        run: |
          git fetch origin ${{ github.event.pull_request.base.ref }} --depth=1
          changed_files=$(git diff --name-only origin/${{ github.event.pull_request.base.ref }} ${{ github.event.pull_request.head.sha }})

          echo "Checking for changes in services/accounts_svc/"
          if echo "$changed_files" | grep -qE '^(services|unit_tests)/accounts_svc/'; then
            echo "accounts_svc_changed=true" >> $GITHUB_OUTPUT
            echo "[INFO] Accounts Service or unit tests have changed"
          else
            echo "accounts_svc_changed=false" >> $GITHUB_OUTPUT
          fi

          echo "Checking for changes in services/cms_svc/"
          if echo "$changed_files" | grep -qE '^(services|unit_tests)/cms_svc/'; then
            echo "cms_svc_changed=true" >> $GITHUB_OUTPUT
            echo "[INFO] CMS Service or unit tests have changed"
          else
            echo "cms_svc_changed=false" >> $GITHUB_OUTPUT
            echo "[INFO] CMS Service or unit tests have NOT changed"
          fi

          echo "Checking for changes in items/gateway_svc/"
          if echo "$changed_files" | grep -qE '^(items|unit_tests)/gateway_svc/'; then
            echo "gateway_svc_changed=true" >> $GITHUB_OUTPUT
            echo "[INFO] items/gateway_svc has changed"
          else
            echo "gateway_svc_changed=false" >> $GITHUB_OUTPUT
            echo "[INFO] Gateway Service or unit tests have NOT changed"
          fi
          
          echo "Checking for changes in services/web_portal_svc/"
          if echo "$changed_files" | grep -qE '^(services|unit_tests)/web_portal_svc/'; then
            echo "web_portal_svc_changed=true" >> $GITHUB_OUTPUT
            echo "[INFO] services/web_portal_svc has changed"
          else
            echo "web_portal_svc_changed=false" >> $GITHUB_OUTPUT
            echo "[INFO] Web Portal Service or unit tests have NOT changed"
          fi

          echo "Checking for changes in items/shared/"
          if echo "$changed_files" | grep -qE '^(items|unit_tests)/shared/'; then
            echo "shared_changed=true" >> $GITHUB_OUTPUT
            echo "[INFO] items/shared has changed"
          else
            echo "shared_changed=false" >> $GITHUB_OUTPUT
          fi

  verify_accounts-svc:
    runs-on: ubuntu-24.04
    needs: [setup, detect-changes]  # Wait for both setup and detect-changes
    if: needs.detect-changes.outputs.accounts_svc_changed == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      #: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage jsonschema aiohttp quart pylint

      - name: Run Pylint
        env:
          PYTHONPATH: items/shared:services/accounts_svc:common
        run: |
          pylint --fail-under=10.0 services/accounts_svc

      # Run tests and measure coverage
      - name: Run tests with coverage
        env:
          PYTHONPATH: items/shared:unit_tests/accounts_svc:services/accounts_svc:common
        run: |
          coverage run --rcfile=.github/workflows/.coveragerc_accounts_svc -m unittest -v main
          coverage report -m --fail-under=100

  verify_cms-svc:
    runs-on: ubuntu-24.04
    needs: [setup, detect-changes]  # Wait for both setup and detect-changes
    if: needs.detect-changes.outputs.cms_svc_changed == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      #: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage jsonschema aiohttp quart pylint

      - name: Run Pylint
        env:
          PYTHONPATH: items/shared:services/cms_svc:common
        run: |
          pylint --fail-under=10.0 services/cms_svc

      # Run tests and measure coverage
      - name: Run tests with coverage
        env:
          PYTHONPATH: items/shared:unit_tests/cms_svc:services/cms_svc:common
        run: |
          coverage run --rcfile=.github/workflows/.coveragerc_cms_svc -m unittest -v main
          coverage report -m --fail-under=100

  verify_gateway-svc:
    runs-on: ubuntu-24.04
    needs: [setup, detect-changes]  # Wait for both setup and detect-changes
    if: needs.detect-changes.outputs.gateway_svc_changed == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage jsonschema aiohttp quart pylint tzlocal

      - name: Run Pylint
        env:
          PYTHONPATH: items/shared:items/gateway_svc
        run: |
          pylint --fail-under=10.0 items/gateway_svc

      # Run tests and measure coverage
      - name: Run tests with coverage
        env:
          PYTHONPATH: items/shared:unit_tests/gateway_svc:items/gateway_svc
        run: |
          coverage run --rcfile=.github/workflows/.coveragerc_gateway_svc -m unittest -v main
          coverage report -m --fail-under=100

  verify_web-portal-svc:
    runs-on: ubuntu-24.04
    needs: [setup, detect-changes]  # Wait for both setup and detect-changes
    if: needs.detect-changes.outputs.web_portal_svc_changed == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage jsonschema aiohttp quart pylint

      - name: Run Pylint
        env:
          PYTHONPATH: items/shared:services/web_portal_svc:common
        run: |
          pylint --fail-under=10.0 services/web_portal_svc

      # Run tests and measure coverage
      - name: Run tests with coverage
        env:
          PYTHONPATH: items/shared:unit_tests/web_portal_svc:services/web_portal_svc:common
        run: |
          coverage run --rcfile=.github/workflows/.coveragerc_web_portal_svc -m unittest -v main
          coverage report -m --fail-under=100

  shared-lint:
    runs-on: ubuntu-24.04
    needs: [setup, detect-changes]  # Wait for both setup and detect-changes
    if: needs.detect-changes.outputs.shared_changed == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      #: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage jsonschema aiohttp quart pylint

      - name: Run Pylint
        env:
          PYTHONPATH: items/shared
        run: |
          pylint --fail-under=10.0 items/shared

      # Run tests and measure coverage
      - name: Run tests with coverage
        env:
          PYTHONPATH: items/shared:unit_tests/shared
        run: |
          coverage run --rcfile=.github/workflows/.coveragerc_shared -m unittest -v main
          coverage report -m --fail-under=100
